In [3]:
for i in range (0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
list1=[10,11,12,13,14,15,16,17,18,19,20]
print(list1)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
list2=[10,20,14,55,43,87,76]
length=len(list2)
print(list2)
print("Number of items in list2 are",length)

[10, 20, 14, 55, 43, 87, 76]
Number of items in list2 are 7

In [27]:
zee=["aritificial intelligence"]
for i in ("aritificial intelligence"):
    print(i)

a
r
i
t
i
f
i
c
i
a
l

i
n
t
e
l
l
i
g
e
n
c
e

In [3]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [25]:
myTuple=(1,'Welcome',2 ,'Hope')
print(myTuple)

(1, 'Welcome', 2, 'Hope')

In [26]:
tuple1=(0, 1, 2, 3)
tuple2=('python' ,'Hope')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [37]:
list1=[20,10,16,19,25,1,276,188]
for x in list1:
    if (x %2 !=0):
        print(x," is odd")

19  is odd
25  is odd
1  is odd

In [ ]:
list1=[20,10,16,19,25,1,276,188]
for x in list1:
    if (x %2 ==0):
        print(x," is even")